<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrés Pérez Guardiola">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">
    
    <link rel="stylesheet" href="../assets/css/root.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <title>footer</title>
</head>
<body>
<header>
    <div>
        <img src="../assets/img/logos/logo-classic-cinema.webp" alt="classic cinema logo">
        <nav>
            <ul>
                <li><a href="#">Cines</a></li>
                <li><a href="#">Películas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div id="header-search"></div>
        <div id="login-sigin">
        </div>
    </div>
</header>
</body>