@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: "Spectral SC", sans-serif;
}

body {
    margin: 0;
    background-color: #99904D;
    display: flex;
    justify-content: center;
    
}

main {
    margin: 0;
    max-width: 1200px;
    background: linear-gradient(to bottom, #7C0D0D 0%, #7C0D0D 5%, #D43A3A 40%, #D43A3A 60%, #7C0D0D 95%, #7C0D0D 100%);

}

section#estrenos {
    margin: 0 100px;
    text-align: center;
    background-color: #527995;
    padding: 65px; 
}

#estrenos h2 {
    color: #fff;
}

div.container {
    padding: 2rem;
}

div.slider-wrapper {
    position: relative;
    max-width:  48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

section#cartelera {
    margin: 0 100px ;
    text-align: center;
    background-color: #B1A78B;
    padding: 65px; 
}

#cartelera h2 {
    color: #fff;
}

form#film-form  {
    background-color: #fff;

    margin-bottom: 20px;
    padding: 33px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 2%;

    max-width: 800px;
    width: 100%;
}

form.form-group {
    margin-bottom:15px;
}

div.film-list {
    background-color: #D9D9D9;
    max-width: 800px;
    padding: 38px 33px 20px 33px;
    border-radius: 8px;
}

article.film {
    background-color: #FEFBE7;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 32px;
    
    display: flex;
    gap: 5%;

}

article.film:last-of-type , button[type="submit"]{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 0;
}

#film-name {
    flex-grow: 1; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"] span {
    display: inline-block;
    font-size: 18px; 
}

button[type="submit"]:hover {
    background-color: darkviolet;
}


article.film figure {
    width: 300px;
    min-width: 200px;
}

article.film div.film-content h3 {
    text-align: center;
}

article.film div.film-content p {
    font-family: Spectral, sans-serif;
    text-align: left;
    font-size: 16px;
    margin: 20px;
}

div.film-detail  {
    display: flex;
    padding: 20px;
    gap: 20px;
}

div.film-detail a.see-more {
    display: inline-block;
    text-decoration: none;

    width: 150px;
    height: 50px;
    padding: 0px 20px;
    border-radius: 25px;

    font-size: 20px;
    text-align: center;
    align-content: center;

    background-color: purple;
    color: #fff;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.film-detail a.see-more:hover {
    background-color: #A020F0;
}

div.film-detail a.see-more:active {
    transform: scale(0.95);
    background-color: darkviolet;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}