$body-bg-color: #99904D;
$main-bg-color: #b32f2f;
$secondary-bg-color: #7C0D0D;
$navitem-bg-color: #B11212;
$hero-bg-color: #28072B;

$navitem-font-color:#C1B65F;
$footer-h4-color: #DEA508;
$footer-p-color: #F6E1A5;
$hero-a-color: #6217AE;
$hero-h1-color: #A2B309;

$card-cinema-bg-color: #3F3939;
$estrenos-bg-color: #457995;
$cartelera-bg-color: #B1A78B;

$film-bg-color: #FEFBE7;
$film-ftitle-color: #6B621D;
$film-fbody-color: #47473D;
$film-btn-bg-color: #3E1164;
$film-btn-hover-bg-color: #A020F0;
$film-duration-bg-color: #D9D9D9;
$film-button-bg-color: #3E1164;
$details-section-bg-color: rgba(217, 217, 217, 0.2);