<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/root.css">
    <link rel="stylesheet" href="../assets/css-bootstrap/bootstrap-custom.css">
    <title>Cinema Card</title>
    <meta name="author" content="Juan Mira">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <section class="card-cinema col-lg-3 col-md-4 col-11 p-4">
                <h3 class="card-title mb-3 mt-2">CINE X</h3>
                <img class="card-img-top" src="../assets/img/otras/cine1.webp" alt="img cine x">
                <div class="card-body my-3">
                    <a class="btn btn-cinema" href="../pages/peliculas.html" title="Cartelera x" target="_self">VER
                        CARTELERA</a>
                </div>
                <div class="card-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4285.937648806099!2d-0.002580289160882064!3d0.000005364426531581543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMMKwMDAnMDAuMCJOIDDCsDAwJzAwLjAiRQ!5e1!3m2!1ses!2ses!4v1748179401647!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        name="Mapa Cine x" title="Mapa Cine x">
                    </iframe>
                </div>
            </section>
        </div>
    </div>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>