<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css-bootstrap/bootstrap-custom.css">
    <title>Film Component</title>
</head>
<body style="background-color: cadetblue;">
    <div class="container">
        <div class="row justify-content-center">
            <h2>SASS - bootstrap</h2>
           
                <article class="film-component col-10 align-self-center">
                    <h3 class="film-title">Star Wars</h3>
                    <div class="film-body">
                        <div class="film-image">
                            <img src="../assets/img/peliculas/peliculas-cartelera-1_small.webp" alt="Cartel de la película Star Wars">
                        </div>
                        <div class="film-content">
                            <p class="film-desc">El futuro no es lo que esperábamos. En 2154, la humanidad descubrió que no estaba sola, pero no todos los encuentros son amistosos. Una rebelión intergaláctica está a punto de comenzar. Los héroes del Despertar de la Fuerza se unen a las leyendas galácticas en una aventura épica para desentrañar los antiguos misterios de la Fuerza y descubrir sorprendentes revelaciones del pasado.</p>
                        </div>
                        <div class="film-details">
                            <div class="pegi">
                                <img src="../assets/img/peliculas/peliculas-pegi3.webp" alt="pegi">
                            </div>
                            <div class="duration">
                                Duración: 1h 45min
                            </div>
                            <a class="see-more" href="./detallesPelicula.html" aria-label="Ver más detalles sobre pelicula Star Wars">
                                Ver más
                            </a>
                        </div>
                    </div>
                </article>                

            </div>
        </div>
    </div>


    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>