<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">
    <link rel="stylesheet" href="../assets/css-bootstrap/bootstrap-custom.css">

    <title>footer component</title>
</head>
<body>
    <div class="container">
        <h2>SASS - bootstrap</h2>

        <footer class="footer-component row text-center p-3">

            <section class="col-md-4 col-12">
                <h4 class="fs-3">Sobre Nosotros</h4>
                <p class="fs-5">En Classic Cinemo, fusionamos la elegancia del cine clásico con la innovación del entretenimiento mderno para ofrecer una experiencia única en la zona de Alicante.</p>
                <p class="fs-5">Nuestras salas, diseñadas para capturar el espíritu del cine tradicional, están equipadas con tecnología de última generación.</p>
                <p class="fs-5">Descure la magia del cine como nunca antes, en un lugar donde lo clásico y lo moderno se encuentran.</p>
            </section>
            <section class="col-md-4 col-12">
                <h4 class="fs-3">Información</h4>
                <p class="fs-5"><a class="text-white fs-4 text-decoration-none my-2" href="../pages/privacidad.html">Privacidad</a></p>
                <p class="fs-5"><a class="text-white fs-4 text-decoration-none my-2"href="../pages/cookies.html">Cockies</a></p>
                <p class="fs-5"><a class="text-white fs-4 text-decoration-none my-2" href="../pages/avisoLegal.html">Aviso Legal</a></p>
            </section>
            <section class="col-md-4 col-12">
                <h4 class="fs-3">Contacto</h4>
                <p class="fs-5">Siguenos en redes sociales y mantente informado de novedades e promociones</p>
                <p id="social-media" class="fs-5">
                    <a class="text-white fs-5 text-decoration-none mx-2" href="https://www.facebook.com/" target="_blank"><span class="ri-facebook-line" aria-label="facebook"></span></a>
                    <a class="text-white fs-5 text-decoration-none mx-2" href="https://x.com/" target="_blank"><span class="ri-twitter-x-line" aria-label="twitter"></span></a>
                    <a class="text-white fs-5 text-decoration-none mx-2" href="https://www.instagram.com/" target="_blank"><span class="ri-instagram-line" aria-label="instagram"></span></a>             
                </p>
                <p class="fs-5">Conoce nuestros cines</p>
                <ul>
                    <li class="list-unstyled text-start text-white fs-5"><span class="ri-map-pin-line"></span> TORREVIEJA, Av. me la invento <br> telf. +34 585 xxx xxx</li>
                    <li class="list-unstyled text-start text-white fs-5"><span class="ri-map-pin-line"></span> ALICANTE, Av. me la invento <br> telf. +34 876 xxx xxx</li>
                    <li class="list-unstyled text-start text-white fs-5"><span class="ri-map-pin-line"></span> DENIA, Av. me la invento <br> telf. +34 258 xxx xxx</li>
                </ul>
            </section>

        </footer>

    </div>    
    
</body>
</html>