<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/root.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-custom.css">
    <title>Film Component</title>
</head>
<body style="background-color: cadetblue;">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid d-flex">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/img/logos/logo-classic-cinema.webp" alt="Logo Classic Cinema" target="_parent">
                    </a>

                    <div class="d-flex align-items-center ms-auto order-lg-1">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-login ms-3" href="../pages/login.html">
                            <img src="../assets/img/icons/icon-yellowUser.webp" alt="Icon User" height="50">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse order-lg-0" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#seleccion-cine" target="_parent">CINES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../pages/peliculas.html" target="_parent">PELÍCULAS</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" href="../pages/contacto.html" target="_parent">CONTACTO</a>
                            </li>
                        </ul>
                        <form class="d-flex search-bar" role="search">
                            <button id="x" class="btn btn-outline-warning btn-reset" type="reset">
                                <img src="../assets/img/icons/icon-x.webp" alt="Icon x">
                            </button>
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"/>
                            <button id="lupa" class="btn btn-outline-warning .btn-search" type="submit">
                                <img src="../assets/img/icons/icon-lupa.webp" alt="Icono busqueda">
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        
        </div>
    </div>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>