
/*------- INDEX CINEMA CARD ------- */
.card-cinema {
    @extend .card;
    padding: 0;
    
    background-color: $card-cinema-bg-color;


    .card-body {
        padding: inherit;

        font-size: 1.5rem;
        text-align: center;

        @include media-breakpoint-up(sm) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }
        
        .card-title {
            text-align: inherit;
            padding: inherit;
            color: lighten($film-ftitle-color,  50%);

            font-size: 100%;
        }
    
        .btn-cinema {
            text-align: inherit;
            background-color: #6B621D;
            color: $black;
            display: block;
            width: 60%;

            margin: 0 auto;
            padding: inherit 20px;
            border-radius: 50px;
            text-decoration: none;
            font-size: 60%;

            border: 0;
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        }

        .btn-cinema:hover {
            color: white;
        }
    
        .btn-cinema:active {
            background-color: #6B621D;
            transform: scale(0.9);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .card-map {
        @extend .ratio;
        @extend .ratio-16x9;
        border-radius: 10px;
        overflow: hidden;
    }
    
}

