.footer-component {
    box-sizing: border-box;
    background-color: $secondary-bg-color;
    
    @extend .row, .text-center, .p-3;

    h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: $footer-h4-color;
    }

    p {
        color: $footer-p-color;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: blue !important;
        }
    }

    ul {
        margin: 10px 0;
        list-style: none;
    }

    .ri-facebook-line, .ri-twitter-x-line, .ri-instagram-line {
        margin: 0 10px;
        font-size: 1.5rem;
        color: white;
    }

    .ri-facebook-line:hover, .ri-twitter-x-line:hover, .ri-instagram-line:hover {
        color: blue;
    }


}