.navbar {
    background-color: #7C0D0D;
    height: auto;

    .container-fluid {
        .navbar-brand {
            
            
            img {

                max-height: 80px;
                height: auto;
                width: auto;

                @extend .img-fluid;
                @media (max-width: 480px) {
                    max-height: 50px;
                }
            }
        }

        .navbar-collapse {
            background-color: $secondary-bg-color;

            .navbar-nav { 
                            
                .nav-item {
                    background-color: $main-bg-color;
                    color: lighten($film-ftitle-color, 30%);
                    border-radius: 5px;
                    @extend .mx-2;
    
                    .nav-link {
                        color: inherit;
                    }
                }
            }    
        }

        .search-bar {

            input {
                @extend .m-0;
            }


            button {

                img {
                    height: 25px;
                    @extend .img-fluid;
                }
            }

            .btn-reset {
                img {
                    height: 15px;
                }
            }

            .btn-search {
                
            }
            
        }

        .navbar-login {
            @extend .ms-3;
            
            img {
                height: 50px;
                @extend .img-fluid;
            }
        }
        
    }
}

