.navbar {
    background-color: #7C0D0D;
    height: auto;

    .container-fluid {
        .navbar-brand {
            
            
            img {

                max-height: 80px;
                height: auto;
                width: auto;

                @extend .img-fluid;
                @media (max-width: 480px) {
                    max-height: 50px;
                }
            }
        }

        .navbar-collapse {
            background-color: $secondary-bg-color;

            .navbar-nav { 
                            
                .nav-item {
                    background-color: $main-bg-color;
                    color: lighten($film-ftitle-color, 30%);
                    border-radius: 5px;
                    @extend .mx-2;
    
                    .nav-link {
                        color: inherit;
                    }
                }
            }    
        }

        .search-bar {
            margin-left: auto;
            width: auto;

            .custom-search-container {
                background-color: #5a2f32;
                border-radius: 30px;
                padding: 5px 15px;
                width: 100%;
                display: flex;
                align-items: center;

                .btn-icon {
                    background: none;
                    border: none;
                    padding: 0 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    img {
                        height: 20px;
                        width: auto;
                    }
                }

                .custom-search-input {
                    background: none;
                    border: none;
                    color: #fff;
                    flex-grow: 1;
                    padding: 0 10px;
                    outline: none;
                    box-shadow: none;
                    &.form-control {
                         padding: 0 10px;
                         height: auto;
                         box-shadow: none;
                    }


                    &::placeholder {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }

        .navbar-login {
            @extend .ms-3;
            
            img {
                height: 50px;
                @extend .img-fluid;
            }
        }
        
    }
}

