
main section {
  margin: 0 100px;
  text-align: center;
  padding: 60px;
}
  
      header {
          background-color: var(--navbar-bg-color);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
      }

  
      .logo {
          width: 200px;
          height: auto;
          font-weight: bold;
      }
      nav ul {
          list-style: none;
          display: flex;
          gap: 15px;
      }

      nav ul li a {
          text-decoration: none;
          background-color: var(--nav-a-bg-color);
          color: var(--nav-a-color);
          padding: 10px 20px;
          border-radius: 5px;
      }
      
      .search-bar input {
          padding: 5px;
          margin-right: 5px;
      }
      .user-icon {
          font-size: 20px;
      }
      main {
          display: flex;
          padding: 20px;
      }
      aside {
          width: 20%;
          background: #c0b703;
          padding: 20px;
          display: flex;
          flex-direction: column;
      }
      .btn {
          background: #9b4d3a;
          color: white;
          border: none;
          padding: 10px;
          margin: 10px 0;
          cursor: pointer;
          text-align: left;
      }
     
        .main-container {
            display: flex;
            justify-content: center;
            padding: 80px;
          }
          .fa{
            text-align: center;color:yellow;
            padding: 10px 0;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding: 20px;
          }
          .factura {
            background-color: #fdf0c2;
            padding: 30px;
            border: 2px solid #750000;
            width: 600px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        
          .lg {
            display: block;
            margin: 0 auto 20px auto;
          }
      
          .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
          }
          
          .table th, .table td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
          }
          
          .table th {
            background-color: #f9f9a3;
            font-weight: bold;
          }
          
          .table tr:nth-child(even) {
            background-color: #f9f9f9;
          }
       
          .total-row td {
            font-weight: bold;
            font-size: 18px;
          }
          
   
        footer{
    width: 100vw;
    background-color: var(--navbar-bg-color);
    text-align: justify;
}

