* {
    padding: 0;
    margin: 0;
}

body > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#redirection {
    display: none;
}

#scroll-to-top img {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 15px;
    width: 90px;
    cursor: pointer;
}

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fffdf3;
}

aside a {
    text-decoration: none;
}

aside a:nth-of-type(2) h2 {
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--navbar-bg-color);
}

aside a:nth-of-type(1) h2, aside a:nth-of-type(3) h2 {
    padding: 10px 20px;
    border-radius: 5px;
    color: #DEA508;
    background-color: #511111;
}

aside a h2:hover {
    color: var(--nav-a-bg-color);
    background-color: #DEA508;
}

aside a h2:active {
    color: #fff;
    background-color: #511111;
}

aside a h2:focus {
    background-color: #511111;
}

#container-entradas {
    width: 56.5%;
    margin: 40px 0;
    margin: 0 auto;
    padding-top: 20px;
}

.tickets header {
    height: 20px;
}

.tickets header { /*Temporal por el root*/
    min-height: 50px;
    background-color: transparent;
}

header h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.tickets {
    width: 100%;
    padding: 20px;
    background-color: #511111;
    border-radius: 10px;
}

.tickets > main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.ticket-container {
    width: 100%;
    background-color: #fffdf3;
    padding: 10px 10px 0 10px;
}

.ticket-film {
    width: 100%-15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.film-information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}

.film figure img {
    width: 125px;
    height: 187.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), 
                10px 10px 20px rgba(0, 0, 0, 0.3);
}

.ticket-information {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
}

.ticket-information article h3 {
    display: inline-block;
    font-size: 2em;
}

.ticket-information article:nth-child(2) p:nth-of-type(2) {
    font-size: 2em;
    font-weight: 700;
}

.ticket-information figure img {
    position: absolute;
    width: 40px;
    bottom: 50px;
    left: 150px;
}

.qr-film {
    height: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.qr-film p {
    display: flex;
    align-self: end;
    font-size: 2em;
    font-weight: 700;
}

.qr-film figure img {
    width: 140px;
    vertical-align: text-bottom;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button figure img {
    width: 30px;
    border: solid 5px transparent;/*evito desplazamiento al hover*/
}

button figure img:hover {
    width: 30px;
    /*mask-image: url('../img/icons/arrowDown.webp');*/
    border: 5px solid #000;
}