html {
    scroll-behavior: smooth;
}

main section {
    margin: 0 100px;
    text-align: center;
    padding: 60px;
}

header {
    margin: 0;
    display: block;
}

header iframe {
    display: block;
    vertical-align: bottom;
}

main {
    margin: 0 auto;
    padding: 10px;
}

.to-main-content {
    display: none;
}

#scroll-to-top {
    position: fixed;
    width: 75px;
    height: 75px;

    bottom: 20px;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.3s ease;
}

#scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 1);
}

main section {
    width: 60%;
    background-color: rgba(217, 217, 217, 0.2);
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 40px;
}

h1 {
    color: var(--hero-h1-color);
    font-size: 2.5rem;
}

h2 {
    color: white;
    font-size: 2rem;
}


#seats-legend {
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    gap: 30px;
}


#seats-container {
    background-color: gray;
    padding: 40px;
    border-radius: 20px;
}

#screen {
    color: white;
    background-color: black;
    margin-bottom: 50px;
}

#room {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    margin: 0 auto;
    max-width: 80%; 
}

.wing {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.seat input {
    display: none;
}

.seat span {
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

span.available {
    color: green;
}

span.unavailable {
    color: red;
}

span.checked {
    color: yellow; /*solo para la leyenda*/
}

.seat input:checked + span {
    color: yellow; 
}

.input-text {
    display: none;
}

ul {
    margin-top: 5px;
    margin-bottom: 20px;
}

ul > li {
    list-style: none;
}

#details > p {
    margin: 10px;
}

#details > p:last-of-type {
    margin-bottom: 60px;
}

button[type="submit"] {
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 500px;
    color: white;
    background-color: var(--film-button-bg-color);
}

p#detail-price-total {
    font-size: 1.5rem;
}

#detail-price-total > span {
    color: white;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: purple;
}

button[type="submit"]:active {
    transform: scale(90%);
}
