* {
    margin: 0;
    padding: 0;
}

body > main {
    margin: 0 100px;
    text-align: center;
    padding: 80px 60px 60px 60px;
    margin: 0 auto;
}

/***SOLUCIONAR:Problema con el tamaño de la imagen que afecta al h1 también*/
#section1-detallesPelicula {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

#detalles { 
    width: 100%;
    padding: 20px 0;
}

#section1-detallesPelicula img {
    width: 400px;
}
/*------------------------------------------------*/

#detalles header h1 {
    padding: 20px 0;
}

#detalles main h4{
    margin-top: 20px;
}

#detalles main p {
    color: #fff;
}

#section2-trailer {
    margin-top: 40px;
}

#section2-trailer iframe {
    width: 854px;
    height: 480px;
    padding-top: 20px;
    margin: 0 auto;
}

#session-container {
    margin-top: 40px;
}

.selection-container {
    width: 75%;
    height: 600px;
    margin: 40px auto 0 auto;
    background-color: rgb(0, 0, 0,0.2);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 25px;
}

.selection-container header h3 {
    padding: 20px 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
    margin: 0 auto;
    background-color: transparent;
}

/* Tabla de días*/
.calendar-header {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#prev-month {
    float: left;
}

#next-month {
    float: right;
}

.calendar {
    width: 200px;
    border-collapse: collapse;
}

.calendar th {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 0px 3px 6px #000;
    background-color: #007BFF;
}

.calendar td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.calendar td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar td:hover {
    background-color: #e0e0e0;
}

#row6 td:nth-child(n+4):nth-child(-n+7) {
    cursor:default;
    background-color: transparent;
}

.day-radio {
    display: none;
    width: 100%;
    height: 100%;
}

.day label {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    inset: 0;
}

td:has(.day-radio:checked) { /*Estilo al seleccionar un día */
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.calendar td.selected {
    background-color: #007BFF;
    color: white;
}

/* Tabla de horarios */
.time-container {
    background-color: transparent;
}

.time-table td {
    padding: 10px 100px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.time-table td:hover {
    background-color: #007bff;
    color: white;
}

.hour-radio {
    display: none;
    width: 100%;
    height: 100%;
}

.hour label {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    inset: 0;
}

td:has(.hour-radio:checked) { /*Estilo al seleccionar un día */
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.time-table td.selected {
    background-color: #007BFF;
    color: white;
}

button[type="submit"] {
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #C1B65F;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: #DEA508;
}

button[type="submit"]:active {
    transform: scale(90%);
}