
body {
    overflow: hidden;
}

/*#################### FOOOTER ####################*/

footer{
    width: 100vw;
    background-color: var(--navbar-bg-color);
    text-align: justify;
}

.footer-container {
    margin: 0 auto;
    width: var(--width);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.footer-container section {
    flex: 1;
    min-width: 200px;
}

.footer-container section:first-child {
    margin-left: 40px;
}

.footer-container section:last-child {
    margin-right: 40px;
}

.footer-container section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: var(--footer-h4-color);
}

.footer-container section p {
    margin-bottom: 15px;
    color: var(--footer-p-color);
}

#information {
    text-align: center;
}

#information p {
    margin-bottom: 40px;
}

#information p a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#information p a:hover {
    color: blue;
}

#social-media {
    text-align: center;
    font-size: 2em;
    color: white;
}

#social-media a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

#social-media a:last-child {
    margin-right: 0px;
}

#social-media a:hover {
    color: blue;
}

#contact ul {
    list-style: none;
    padding: 0;
    color: white;
}

#contact ul li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}

#contact ul li span {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 1.4em;
}

@media screen and (max-width: 1440px) {
    :root {
        --width: 1200px;
    }

}

@media screen and (max-width: 1200px) {
    :root {
        --width: 1024px;
    }

    html {
        font-size: 2vw;
    }

    section {
        flex-direction: column;
    }

    #contact ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 1024px) {
    :root {
        --width: 760px;
    }

}

@media screen and (max-width: 760px) {
    :root {
        --width: 100%;
    }

}

@media screen and (max-width: 480px) {
    :root {
        --width: 100%;
    }
   
}
/*#################### FOOOTER ####################*/