header {
    width: 100vw;
    background-color: var(--navbar-bg-color);
}

header div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

header div img {
    max-height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}


nav ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--nav-a-bg-color);
    color: var(--nav-a-color);
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    
}

nav ul li a:hover {
    background-color: blue;
}