body {
    overflow: hidden
}

/*--------------------HEADER/NAVBAR--------------------*/
header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    height: 80px;
    overflow: hidden;
}

header > img {
    height: 100%;
    width: auto;
    max-height: 80px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar .menu1 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.navbar .menu2 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
}

.menus {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.menu1 {
    display: inline-block;
    margin-right: 40px;
}

.menu1 li {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--nav-a-bg-color);
}

.menu1 a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--nav-a-color);
}

.menu1 a::after {
    color: black;
}
  
.menu1 a:visited {
    color: white;
}
  
.menu1 a:hover {
    border-radius: 3px 3px 0 0;
    color: black;
}
  
.menu1 a:active {
    color: black;
}

.menu2 {
    display: inline-block;
    width: 500px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 60px;
    background: #33333366;
}

#lupa {
    padding-right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#lupa img {
    width: 28px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.5s ease;
}

#lupa:hover img {
    filter: brightness(1) invert(1);
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    cursor: text;
    color: white;
    font-size: 20px;
}

.search input::placeholder {
    color: rgba(229, 229, 229, 0.452);
    transition: color 0.3s ease;
}

.search input:hover::placeholder {
    color: white;
}

.search input:focus::placeholder {
    color: transparent;
    opacity: 1;
}

#x {
    padding-left: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#x img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    opacity: 0.5;
    transition: transform 0.5s ease;
}

#x:hover img {
    scale: 1.2;
    opacity: 1;
}

.search input:focus + #x {
    opacity: 1;
}

#log img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.5s ease;
}

#log img:hover {
    border-radius: 50%;
    outline: 2px solid black;
    background-color: #5e1c1c;
    color: black;
}

.menu2 a {
    text-decoration: none;
    color: white;
}

@media (max-width:1173px) {
    .menu2 {
        display: none;
    }
}

/*--------------------HEADER/NAVBAR--------------------*/