/*--------------------MAIN--------------------*/
body > main {
    margin: 0 100px;
    text-align: center;
    padding: 80px 60px 60px 60px;
    margin: 0 auto;
}

/*Pendiente de actualización*/
#scroll-to-top img {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 15px;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/*Pendiente de actualización*/

#cartel {
    padding: 20px 0;
}

#cartel img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.cines {
    width: 100%;
    height: 800px;
}

.cines > header {
    padding-top: 20px;
    margin-top: 20px;
}

.cines h2 {
    color: white;
}

.eleccion-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    padding: 60px;
}

.recuadro-cine-eleccion {
    position: relative;
    width: 33.333%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--cinemaSelection-bg-color);
}

.eleccion-container h3 {
    color: var(--film-title-color);
    padding-top: 20px;
}

.eleccion-container hr {
    width: 60%;
    margin: 0 auto;
}

.eleccion-container img {
    padding: 20px 0;
    width: 275px;
}

.recuadro-cine-eleccion a {
    display: block;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50px;
    text-decoration: none;
    color: #000000;
    background-color: var(--film-title-color);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.recuadro-cine-eleccion a:hover {
    color: white;
}

.recuadro-cine-eleccion a:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

iframe.map {
    width: 275px;
    height: 200px;
    margin: 0 auto;
    padding-top: 20px;
}
/*--------------------MAIN--------------------*/