html {
    scroll-behavior: smooth;
}

.to-main-content {
    display: none;
}

#scroll-to-top {
    position: fixed;
    width: 75px;
    height: 75px;

    bottom: 20px;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.3s ease;
}

#scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--hero-h1-color);
}

main section {
    margin: auto;
    text-align: left;
}

section {
    margin: 10px auto;
}


h2, h3 {
    color: beige;
}

h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

p, li {
    font-size: 1rem;
    font-family: Spectal;
    color: white;
    margin: 10px;
}

