@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-bg-color: #99904D;
    --navbar-bg-color: #7C0D0D;
    --main-bg-color: #b32f2f;
    --footer-bg-color: #7C0D0D;
    --nav-a-bg-color: #B11212;
    --hero-bg-color: #28072B;

    --nav-a-color: #C1B65F;
    --footer-h4-color: #DEA508;
    --footer-p-color: #F6E1A5;
    --hero-a-color: #6217AE;
    --hero-h1-color: #A2B309;

    --cinemaSelection-bg-color: #3F3939;
    --estrenos-bg-color: #457995;
    --cartelera-bg-color: #B1A78B;

    --list-film-color: #D9D9D9;

    --film-bg-color: #FEFBE7;
    --film-title-color: #6B621D;
    --film-desc-color: #47473D;
    --film-button-bg-color: #3E1164;
    --film-duration-bg-color: #D9D9D9;
    --details-section-bg-color: rgba(217, 217, 217, 0.2);

    --width: 1440px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Spectral SC", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.custom-shadow {
    box-shadow: 0 10px 15px 10px #333;
}

.bg-main {
    background: linear-gradient(to bottom, var(--navbar-bg-color) 0%, var(--navbar-bg-color) 15%, var(--main-bg-color) 45%, var(--main-bg-color) 55%, var(--footer-bg-color) 85%, var(--footer-bg-color) 100%);
}

#scroll-to-top img {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 15px;
    width: 90px;
    cursor: pointer;
}

.aside-a-color, .tickets-color { /*Clase personalizada; no tiene que seleccionar nada concreto en el html*/
    background-color: #511111;
}

.aside-h2-color { /*Clase personalizada*/
    color: #DEA508;
}

aside a h2 {
  font-size: 1.5rem;
}

aside a:hover h2 {
    color: #fff;
}

.ticket-container-color {
    background-color: #fffdf3;
}

.film figure img {
    width: 125px;
    height: 187.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), 
                10px 10px 20px rgba(0, 0, 0, 0.3);
}

.ticket-information {
    position: relative;
    width: 80%;
}

.ticket-information figure img {
    position: absolute;
    width: 40px;
    bottom: 50px;
    left: 150px;
}

.qr-film {
    height: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.qr-film p {
    display: flex;
    align-self: end;
    font-size: 2em;
    font-weight: 700;
}

.qr-film figure img {
    width: 140px;
    vertical-align: text-bottom;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button figure img {
    width: 30px;
    border: solid 5px transparent;/*evito desplazamiento al hover*/
}

button figure img:hover {
    width: 30px;
    /*mask-image: url('../img/icons/arrowDown.webp');*/
    border: 5px solid #000;
}

@media (max-width: 768px) {
    .titulo-responsive {
        font-size: 1.5rem;
    }
    .mb-6 {
        width: 100%;
        padding: 5rem;
}
}