:root {
    --body-bg-color: #99904D;
    --navbar-bg-color: #7C0D0D;
    --main-bg-color: #b32f2f;
    --footer-bg-color: #7C0D0D;
    --nav-a-bg-color: #B11212;
    --hero-bg-color: #28072B;

    --nav-a-color: #C1B65F;
    --footer-h4-color: #DEA508;
    --footer-p-color: #F6E1A5;
    --hero-a-color: #6217AE;
    --hero-h1-color: #A2B309;

    --cinemaSelection-bg-color: #3F3939;
    --estrenos-bg-color: #457995;
    --cartelera-bg-color: #B1A78B;

    --list-film-color: #D9D9D9;

    --film-bg-color: #FEFBE7;
    --film-title-color: #6B621D;
    --film-desc-color: #47473D;
    --film-button-bg-color: #3E1164;
    --film-duration-bg-color: #D9D9D9;
    --details-section-bg-color: rgba(217, 217, 217, 0.2);

}

* {
    margin: 0;
    padding: 0;
    font-family: "Spectral SC", sans-serif;
    box-sizing: border-box;
}

html body {
  background-color: var(--body-bg-color);
}

.container main {
    background: linear-gradient(to bottom, var(--navbar-bg-color) 0%, var(--navbar-bg-color) 15%, var(--main-bg-color) 45%, var(--main-bg-color) 55%, var(--footer-bg-color) 85%, var(--footer-bg-color) 100%); 
}

li {
  margin-bottom: 10px;
}



