* {
    margin: 0;
    padding: 0;
}

body > main {
    margin: 0 100px;
    text-align: center;
    padding: 80px 60px 60px 60px;
    margin: 0 auto;
}

#redirection {
    display: none;
}

#scroll-to-top img {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 15px;
    width: 90px;
    cursor: pointer;
}

#section1-detallesPelicula {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

#detalles { 
    width: 100%;
}

#section1-detallesPelicula img {
    width: 400px;
    height: 600px;
}

#detalles header { /*Temporal por el root*/
    min-height: 60px;
}

#detalles header h1 {
    color: #000;
    font-size: 2em;
}

#detalles main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

#detalles main article h4{
    color: #000;
}

#detalles main article p {
    color: #fff;
}

#section2-trailer {
    margin-top: 40px;
}

#section2-trailer h2 {
    font-size: 2em;
    color: #000;
}

#section2-trailer iframe {
    width: 854px;
    height: 480px;
    padding-top: 20px;
    margin: 0 auto;
}

#session-container {
    margin-top: 40px;
}

#session-container header { /*Temporal por el root*/
    min-height: 60px;
    background-color: transparent;
}

#session-container h2 {
    font-size: 2em;
    color: #000;
}

.selection-container {
    width: 75%;
    height: 600px;
    padding-top: 30px;
    margin: 40px auto 0 auto;
    background-color: rgb(0, 0, 0,0.2);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 25px;
}

.selection-container h3 {
    display: inline;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

#calendar-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
    background-color: transparent;
}

/* Tabla de días*/
.calendar-header {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#prev-month {
    float: left;
}

#next-month {
    float: right;
}

.calendar {
    width: 200px;
    border-collapse: collapse;
}

.calendar th {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 0px 3px 6px #000;
    background-color: #007BFF;
}

.calendar td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.calendar td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar td:hover {
    background-color: #e0e0e0;
}

#row6 td:nth-child(n+4):nth-child(-n+7) {
    cursor:default;
    background-color: transparent;
}

.day-radio {
    display: none;
    width: 100%;
    height: 100%;
}

.day label {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    inset: 0;
}

td:has(.day-radio:checked) { /*Estilo al seleccionar un día */
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.calendar td.selected {
    background-color: #007BFF;
    color: white;
}

/* Tabla de horarios */
.time-container {
    background-color: transparent;
}

.time-table td {
    padding: 10px 100px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.time-table td:hover {
    background-color: #007bff;
    color: white;
}

.hour-radio {
    display: none;
    width: 100%;
    height: 100%;
}

.hour label {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    inset: 0;
}

td:has(.hour-radio:checked) { /*Estilo al seleccionar un día */
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.time-table td.selected {
    background-color: #007BFF;
    color: white;
}

form a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #C1B65F;
}

form a:hover {
    cursor: pointer;
    color: white;
    background-color: #DEA508;
}

/*
button[type="submit"] {
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #C1B65F;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: #DEA508;
}

button[type="submit"]:active {
    transform: scale(90%);
}*/