/* style.css */
body {
    margin: 0;
    padding: 0;
    border-top: 2px solid black;
}

.skip-link {
    display: none;
}

h1 {
    text-align: center;
    color: var(--hero-h1-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    background-color: #dbd4c5;
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 25px;
}

.login, .register {
    background: #dbd4c5;
    padding: 50px;
    border-radius: 10px;
    flex: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
}

.login button:hover {
    background-color: #5D1510;
}

.register button:hover {
    background-color: #5D1510;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: #A5251B;
    color: white;
    border: none;
    cursor: pointer;
}

button.facebook {
    background: #3b5998;
}

button.google {
    background: #db4437;

}