@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-bg-color: #99904D;
    --navbar-bg-color: #7C0D0D;
    --main-bg-color: #b32f2f;
    --footer-bg-color: #7C0D0D;
    --nav-a-bg-color: #B11212;
    --hero-bg-color: #28072B;

    --nav-a-color: #C1B65F;
    --footer-h4-color: #DEA508;
    --footer-p-color: #F6E1A5;
    --hero-a-color: #6217AE;
    --hero-h1-color: #A2B309;

    --cinemaSelection-bg-color: #3F3939;
    --estrenos-bg-color: #457995;
    --cartelera-bg-color: #B1A78B;

    --list-film-color: #D9D9D9;

    --film-bg-color: #FEFBE7;
    --film-title-color: #6B621D;
    --film-desc-color: #47473D;
    --film-button-bg-color: #3E1164;
    --film-duration-bg-color: #D9D9D9;
    --details-section-bg-color: rgba(217, 217, 217, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Spectral SC", sans-serif;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container > main {
    background: linear-gradient(to bottom, var(--navbar-bg-color) 0%, var(--navbar-bg-color) 15%, var(--main-bg-color) 45%, var(--main-bg-color) 55%, var(--footer-bg-color) 85%, var(--footer-bg-color) 100%);
    box-shadow: 0 10px 15px 10px #333;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--hero-h1-color);
}

main {
    padding: 5px;
}

main section {
    margin: auto;
    text-align: left;
}

section section {
    margin: 10px auto;
    margin-bottom: 10px;
    padding: 20px;
}

#section-1 {
    padding-bottom: 0px;
}

#section-2 {
    padding-top: 20px;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3 {
    color: beige;
}

h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

p, li {
    font-size: 1rem;
    font-family: Spectal;
    color: white;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 65%;
  }
}